*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    transform-style: preserve-3d;
}
/* body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    cursor: pointer;
    background-image: radial-gradient(circle, #171424, black);
}
.face {
    position: absolute;
}

/* main class */
.house {
    position: absolute;
    width: 28vw;
    height: 28vw;
    transform: perspective(80vw) rotateX(75deg) rotateZ(45deg) translateZ(-10vw);
}

.H_shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 1.5vw -3vw 3vw rgb(0, 0, 0), 1.5vw 0.5vw 1.5vw rgb(27, 26, 26);
}

.H_lights {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 42vw;
    height: 42vw;
}

.H_light {
    position: absolute;
}

.H_light:nth-of-type(1) {
    bottom: 5vw;
    right: 0;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    background-image: radial-gradient(#1b182a, transparent);
    filter: blur(1vw);
}

.H_light:nth-of-type(2) {
    bottom: 18vw;
    right: -1vw;
    width: 2vw;
    height: 12vw;
    border-radius: 50%;
    transform: rotateZ(-50deg);
    background-image: radial-gradient(rgba(81, 137, 251, 0.45) 50%, rgba(40, 125, 210, 0.45), transparent);
    box-shadow: -1vw -1vw 2vw 1vw rgba(131, 171, 252, 0.1);
    filter: blur(1vw);
}

.H_light:nth-of-type(3) {
    bottom: -2vw;
    right: 17vw;
    width: 5vw;
    height: 12vw;
    border-radius: 50%;
    transform: rotateZ(-50deg);
    background-image: radial-gradient(rgba(81, 137, 251, 0.5) 50%, rgba(40, 125, 210, 0.5), transparent);
    filter: blur(2vw);
}

.H_light:nth-of-type(3)::before,
.H_light:nth-of-type(3)::after {
    content: "";
    position: absolute;
    width: 200%;
    top: -6vw;
    height: 400%;
    background-image: linear-gradient(to bottom, rgba(40, 125, 210, 0.1), rgba(81, 137, 251, 0.1), transparent);
    border-top-left-radius: 10vw;
    border-top-right-radius: 10vw;
    filter: blur(1.5vw);
}

.H_light:nth-of-type(3)::before {
    right: -50%;
    transform-origin: top right;
    transform: rotateZ(15deg);
    box-shadow: -2vw -2vw 0 rgba(81, 137, 251, 0.075);
}

.H_light:nth-of-type(3)::after {
    left: -50%;
    transform-origin: top left;
    transform: rotateZ(-15deg);
    box-shadow: 2vw -2vw 0 rgba(81, 137, 251, 0.075);
}

.H_light:nth-of-type(4) {
    bottom: 5vw;
    left: 8vw;
    width: 28vw;
    height: 4vw;
    transform-origin: top left;
    transform: skewX(58deg);
    background-image: linear-gradient(to right, rgba(81, 137, 251, 0.075) 10%, transparent 25%, transparent, rgba(0, 0, 0, 0.15));
    filter: blur(0.25vw);
}

.H_light:nth-of-type(6) {
    bottom: 14vw;
    right: 2vw;
    width: 8vw;
    height: 16vw;
    transform-origin: bottom left;
    transform: skewY(49deg);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
    filter: blur(0.35vw);
}
/* end light end shadow */

.alt {
    position: absolute;
    left: 0;
    top: 0;
    width: 27vw;
    height: 27vw;
  }
  .alt__front {
    width: 27vw;
    height: 0.5vw;
    transform-origin: bottom left;
    transform: rotateX(-90deg) translateZ(26.5vw);
    background-color: #9E99C1;
  }
  .alt__back {
    width: 27vw;
    height: 0.5vw;
    transform-origin: top left;
    transform: rotateX(-90deg) rotateY(180deg) translateX(-27vw) translateY(-0.5vw);
    background-color: #383358;
  }
  .alt__right {
    width: 27vw;
    height: 0.5vw;
    transform-origin: top left;
    transform: rotateY(90deg) rotateZ(-90deg) translateZ(27vw) translateX(-27vw) translateY(-0.5vw);
    background-color: #383358;
  }
  .alt__left {
    width: 27vw;
    height: 0.5vw;
    transform-origin: top left;
    transform: rotateY(-90deg) rotateZ(90deg) translateY(-0.5vw);
    background-color: #383358;

  }
  .alt__top {
    width: 27vw;
    height: 27vw;
    transform-origin: top left;
    transform: translateZ(0.5vw);
    background-image: linear-gradient(to bottom, #0b0c1f, #383358, #9E99C1);
  }
  .alt__top>.light{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(20, 61, 103, 0.75), rgba(81, 137, 251, 0.75), transparent);
  }
  .alt__bottom {
    width: 27vw;
    height: 27vw;
    transform-origin: top left;
    transform: rotateY(180deg) translateX(-27vw);
    background-color: #383358;
  }
/* end sath haouse */

.alb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 27vw;
    height: 1vw;
  }
  .alb__front {
    width: 27vw;
    height: 2vw;
    transform-origin: bottom left;
    transform: rotateX(-90deg) translateZ(-1vw);
    background-image: linear-gradient(to right, #9E99C1 40%, #8f89b7);
  }
  .alb__back {
    width: 27vw;
    height: 2vw;
    transform-origin: top left;
    transform: rotateX(-90deg) rotateY(180deg) translateX(-27vw) translateY(-2vw);
    background-color: #383358;
  }
  .alb__right {
    width: 1vw;
    height: 2vw;
    transform-origin: top left;
    transform: rotateY(90deg) rotateZ(-90deg) translateZ(27vw) translateX(-1vw) translateY(-2vw);
    background-color: #383358;
  }
  .alb__left {
    width: 1vw;
    height: 2vw;
    transform-origin: top left;
    transform: rotateY(-90deg) rotateZ(90deg) translateY(-2vw);
    background-color: #383358;

  }
  .alb__top {
    width: 27vw;
    height: 1vw;
    transform-origin: top left;
    transform: translateZ(2vw);
    background-image: linear-gradient(to right, #FBFAFE 40%, #eae5fa);
  }
  .alb__bottom {
    width: 27vw;
    height: 1vw;
    transform-origin: top left;
    transform: rotateY(180deg) translateX(-27vw);
    background-color: #383358;
  }
  /* end labe left */
  .arb {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1vw;
    height: 28vw;
  }
  .arb__front {
    width: 1vw;
    height: 2vw;
    transform-origin: bottom left;
    transform: rotateX(-90deg) translateZ(26vw);
    background-color: #8f89b7;
  }
  .arb__back {
    width: 1vw;
    height: 2vw;
    transform-origin: top left;
    transform: rotateX(-90deg) rotateY(180deg) translateX(-1vw) translateY(-2vw);
    background-color: #383358;

  }
  .arb__right {
    width: 28vw;
    height: 2vw;
    transform-origin: top left;
    transform: rotateY(90deg) rotateZ(-90deg) translateZ(1vw) translateX(-28vw) translateY(-2vw);
    background-image: linear-gradient(to right, #282347 40%, #0f0e17);
  }
  .arb__left {
    width: 28vw;
    height: 2vw;
    transform-origin: top left;
    transform: rotateY(-90deg) rotateZ(90deg) translateY(-2vw);
    background-color: #9E99C1;
  }
  .arb__top {
    width: 1vw;
    height: 28vw;
    transform-origin: top left;
    transform: translateZ(2vw);
    background-image: linear-gradient(to top, #FBFAFE, #3b3469 25%, #2e2a48 75%, #9E99C1);
  }
  .arb__bottom {
    width: 1vw;
    height: 28vw;
    transform-origin: top left;
    transform: rotateY(180deg) translateX(-1vw);
    background-color: #383358;
  }
  /* end labe right */

  .blt {
    position: absolute;
    left: 0;
    top: 0;
    width: 1vw;
    height: 27vw;
    transform: translateZ(0.5vw);
  }
  .blt__front {
    width: 1vw;
    height: 20vw;
    transform-origin: bottom left;
    transform: rotateX(-90deg) translateZ(7vw);
    background-image: linear-gradient(to bottom, #383358, #9E99C1);
  }
  .blt__back {
    width: 1vw;
    height: 20vw;
    transform-origin: top left;
    transform: rotateX(-90deg) rotateY(180deg) translateX(-1vw) translateY(-20vw);
    background-color: #383358;
  }
 
  .blt__right {
    width: 27vw;
    height: 20vw;
    transform-origin: top left;
    transform: rotateY(90deg) rotateZ(-90deg) translateZ(1vw) translateX(-27vw) translateY(-20vw);
    background-image: linear-gradient(to bottom, #151225, #383358, #383358 90%, #242040);
  }
  .blt__left {
    width: 27vw;
    height: 20vw;
    transform-origin: top left;
    transform: rotateY(-90deg) rotateZ(90deg) translateY(-20vw);
    background-color: #383358;
  }
  .blt__top {
    width: 1vw;
    height: 27vw;
    transform-origin: top left;
    transform: translateZ(20vw);
    background-color: #383358;
  }
  .blt__bottom {
    width: 1vw;
    height: 27vw;
    transform-origin: top left;
    transform: rotateY(180deg) translateX(-1vw);
    background-color: #383358;
  }
  .blt__right::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.75vw;
    background-image: linear-gradient(to bottom, #8f89b7, #287dd2);
    border-top: 0.1vw solid #282347;
    border-bottom: 0.1vw solid #282347;
  }
  /* end top labe */
  
.blt2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 2vw;
  height: 27vw;
  transform: translateZ(20.5vw);
}
.blt2__front {
  width: 2vw;
  height: 0.75vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(26.25vw);
  background-color: #383358;
}
.blt2__back {
  width: 2vw;
  height: 0.75vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-2vw) translateY(-0.75vw);
  background-color: #383358;
}
.blt2__right {
  width: 27vw;
  height: 0.75vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(2vw) translateX(-27vw) translateY(-0.75vw);
  background-image: linear-gradient(to right, #8f89b7, #9E99C1, #7169a4);
}
.blt2__left {
  width: 27vw;
  height: 0.75vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-0.75vw);
  background-color: #383358;

}
.blt2__top {
  width: 2vw;
  height: 27vw;
  transform-origin: top left;
  transform: translateZ(0.75vw);
  background-image: linear-gradient(to top, #9E99C1, #FBFAFE);
}
.blt2__bottom {
  width: 2vw;
  height: 27vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-2vw);
  background-color: #383358;
}

/* end top to top */

.blb {
  position: absolute;
  left: 1vw;
  top: 0;
  width: 26vw;
  height: 1vw;
  transform: translateZ(0.5vw);
}
.blb__front {
  width: 26vw;
  height: 20vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(-19vw);
  background-image: linear-gradient(to bottom, #4b4572, #595388 20%, #4b4572);
}
.blb__back {
  width: 26vw;
  height: 20vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-26vw) translateY(-20vw);
  background-color: #383358;
}
.blb__back>p{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D51E24;
  animation: textanim  3s infinite;
}
.blb__right {
  width: 1vw;
  height: 20vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(26vw) translateX(-1vw) translateY(-20vw);
  background-image: linear-gradient(to bottom, #151225, #0f0e17 80%, #151225);
}
.blb__left {
  width: 1vw;
  height: 20vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-20vw);
}
.blb__top {
  width: 26vw;
  height: 1vw;
  transform-origin: top left;
  transform: translateZ(20vw);
}
.blb__bottom {
  width: 26vw;
  height: 1vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-26vw);
  background-color: #383358;
}

.blb__front::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.75vw;
  background-image: linear-gradient(to bottom, #8f89b7, #287dd2);
  border-top: 0.1vw solid #282347;
  border-bottom: 0.1vw solid #282347;
}
/* end lab right  */
.blb2 {
  position: absolute;
  left: 2vw;
  top: 0;
  width: 25vw;
  height: 1vw;
  transform: translateZ(20.5vw);
}
.blb2__front {
  width: 25vw;
  height: 0.75vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(1.25vw);
  background-image: linear-gradient(to right, #7169a4, #9E99C1, #8f89b7);
}
.blb2__back {
  width: 25vw;
  height: 0.75vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-25vw) translateY(-0.75vw);
  background-color: #383358;
}
.blb2__right {
  width: 2vw;
  height: 0.75vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(25vw) translateX(-2vw) translateY(-0.75vw);
  background-color: #151225;
}
.blb2__left {
  width: 2vw;
  height: 0.75vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-0.75vw);
  background-color: #9E99C1;
}
.blb2__top {
  width: 25vw;
  height: 2vw;
  transform-origin: top left;
  transform: translateZ(0.75vw);
  background-image: linear-gradient(to left, #9E99C1, #FBFAFE);
}
.blb2__bottom {
  width: 25vw;
  height: 2vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-25vw);
  background-color: #383358;
}
/* end right to top */


/* Start Door */
.door-c {
  position: absolute;
  left: 3vw;
  top: 1vw;
  width: 8vw;
  height: 0.5vw;
  transform: translateZ(0.5vw);
}
.door {
  position: absolute;
  left: 0.5vw;
  top: 0;
  width: 7vw;
  height: 0.5vw;
}
.door__front {
  width: 7vw;
  height: 16vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(-15.75vw);
  background-image: linear-gradient(to bottom, #0F1110, #121332);
  border: 0.125vw solid #5189fb;
}
.door__back {
  width: 7vw;
  height: 16vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-7vw) translateY(-16vw);
}
.door__right {
  width: 0.25vw;
  height: 16vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(7vw) translateX(-0.25vw) translateY(-16vw);
}
.door__left {
  width: 0.25vw;
  height: 16vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-16vw);
}
.door__top {
  width: 7vw;
  height: 0.25vw;
  transform-origin: top left;
  transform: translateZ(16vw);
}
.door__bottom {
  width: 7vw;
  height: 0.25vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-7vw);
}
.door__front::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.75vw;
  width: 1vw;
  height: 0.25vw;
  background-color: #9E99C1;
  box-shadow: 0.125vw 0.125vw 0.25vw rgba(81, 137, 251, 0.6), -0.125vw 0.125vw 0.25vw rgba(81, 137, 251, 0.6), -0.125vw -0.125vw 0.25vw rgba(81, 137, 251, 0.6), 0.125vw -0.125vw 0.25vw rgba(81, 137, 251, 0.6);
}

.door-l,
.door-r {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.5vw;
  height: 0.5vw;
}
.door-l__front,
.door-r__front {
  width: 0.5vw;
  height: 16vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(-15.5vw);
  background-color: #121332;

}
.door-l__back,
.door-r__back {
  width: 0.5vw;
  height: 16vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-0.5vw) translateY(-16vw);
  background-color: #0b0c1f;

}
.door-l__right,
.door-r__right {
  width: 0.5vw;
  height: 16vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(0.5vw) translateX(-0.5vw) translateY(-16vw);
  background-color: #0b0c1f;

}
.door-l__left,
.door-r__left {
  width: 0.5vw;
  height: 16vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-16vw);
  background-color: #121332;

}
.door-l__top,
.door-r__top {
  width: 0.5vw;
  height: 0.5vw;
  transform-origin: top left;
  transform: translateZ(16vw);
}
.door-l__bottom,
.door-r__bottom {
  width: 0.5vw;
  height: 0.5vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-0.5vw);
  background-color: #0b0c1f;

}
.door-r {
  left: calc(100% - .5vw);
}
.door-t {
  left: 0;
  top: 0;
  width: 8vw;
  height: 0.5vw;
  transform: translateZ(16vw);
}
.door-t__front {
  width: 8vw;
  height: 0.5vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(0vw);
  background-color: #121332;
}
.door-t__back {
  width: 8vw;
  height: 0.5vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-8vw) translateY(-0.5vw);
  background-color: #0b0c1f;
}
.door-t__right {
  width: 0.5vw;
  height: 0.5vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(8vw) translateX(-0.5vw) translateY(-0.5vw);
  background-color: #0b0c1f;
}
.door-t__left {
  width: 0.5vw;
  height: 0.5vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-0.5vw);
  background-color: #121332;
}
.door-t__top {
  width: 8vw;
  height: 0.5vw;
  transform-origin: top left;
  transform: translateZ(0.5vw);
  background-color: #1f2158;
}
.door-t__bottom {
  width: 8vw;
  height: 0.5vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-8vw);
  background-color: #0b0c1f;
}

/* Pictures */
.Picture-l,
.Picture-r {
  position: absolute;
  left: 13vw;
  top: 1vw;
  width: 5vw;
  height: 0.5vw;
  transform: translateZ(10vw);
}
.Picture-l__front,
.Picture-r__front {
  width: 5vw;
  height: 7vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(-6.75vw);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.Picture-l__back,
.Picture-r__back {
  width: 5vw;
  height: 7vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-5vw) translateY(-7vw);
  box-shadow: 0.35vw 0.35vw 0.35vw rgba(81, 137, 251, 0.2), -0.35vw 0.35vw 0.35vw rgba(81, 137, 251, 0.2), -0.35vw -0.35vw 0.35vw rgba(81, 137, 251, 0.2), 0.35vw -0.35vw 0.35vw rgba(81, 137, 251, 0.2);
  background-color: #383358;
}
.Picture-l__right,
.Picture-r__right {
  width: 0.25vw;
  height: 7vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(5vw) translateX(-0.25vw) translateY(-7vw);
  background-color: #383358;
}
.Picture-l__left,
.Picture-r__left {
  width: 0.25vw;
  height: 7vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-7vw);
  background-color: #9E99C1;
}
.Picture-l__top,
.Picture-r__top {
  width: 5vw;
  height: 0.25vw;
  transform-origin: top left;
  transform: translateZ(7vw);
  background-color: #9E99C1;
}
.Picture-l__bottom,
.Picture-r__bottom {
  width: 5vw;
  height: 0.25vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-5vw);
  background-color: #383358;
}
.Picture-l__front {
  background-image:url("img/2.jfif");
  background-color: #D51E24;
  border: 1vw solid #D51E24;
}
.Picture-l__front::before {
  content: "";
  position: absolute;
  top: -1vw;
  left: -1vw;
  width: 5vw;
  height: 7vw;
  background-origin: padding-box;
  background-image: linear-gradient(to bottom, rgba(40, 125, 210, 0.15), rgba(40, 125, 210, 0.15));
}
.Picture-r {
  left: 20vw;
}
.Picture-r__front {
  background-image: url("https://rawcdn.githack.com/ricardoolivaalonso/Codepen/43200238c3177b02a97423fa6cc23f8bfcc5c105/Room/cuadro-2.jpg");
  background-color: #0F1110;
  border: 0.5vw solid #0F1110;
}

/* button picture */

.librero {
  position: absolute;
  left: 13vw;
  top: 1vw;
  width: 12vw;
  height: 0.5vw;
  transform: translateZ(7vw);
}
.librero__front {
  width: 12vw;
  height: 0.25vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(1.25vw);
    background-color: #9E99C1;
}
.librero__back {
  width: 12vw;
  height: 0.25vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-12vw) translateY(-0.25vw);
    background-color: #383358;
}
.librero__right {
  width: 1.5vw;
  height: 0.25vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(12vw) translateX(-1.5vw) translateY(-0.25vw);
    background-color: #383358;

}
.librero__left {
  width: 1.5vw;
  height: 0.25vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-0.25vw);
    background-color: #9E99C1;

}
.librero__top {
  width: 12vw;
  height: 1.5vw;
  transform-origin: top left;
  transform: translateZ(0.25vw);
    background-color: #d9d0f6;

}
.librero__bottom {
  width: 12vw;
  height: 1.5vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-12vw);
  background-color: #383358;
}

.librarys {
  position: absolute;
}

.libro {
  position: absolute;
  top: 1vw;
  width: 0.5vw;
  height: 1vw;
  transform: translateZ(7.25vw);
}
.libro__front {
  width: 0.5vw;
  height: 1.5vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(-0.5vw);
  background-image: linear-gradient(to bottom, #9E99C1, #8079ae);
}
.libro__back {
  width: 0.5vw;
  height: 1.5vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-0.5vw) translateY(-1.5vw);
    background-color: #FBFAFE;
}
.libro__right {
  width: 1vw;
  height: 1.5vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(0.5vw) translateX(-1vw) translateY(-1.5vw);
    background-color: #645c98;
}
.libro__left {
  width: 1vw;
  height: 1.5vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-1.5vw);
    background-color: #9E99C1;
}
.libro__top {
  width: 0.5vw;
  height: 1vw;
  transform-origin: top left;
  transform: translateZ(1.5vw);
    background-color: #d9d0f6;
}
.libro__bottom {
  width: 0.5vw;
  height: 1vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-0.5vw);
  background-color: #554d85;
}
.libro:nth-of-type(1) {
  left: 16vw;
  transform-origin: left;
  transform: translateZ(7.25vw) rotateZ(-10deg);
}
.libro:nth-of-type(2) {
  left: 17vw;
  transform: translateZ(7.25vw) rotateZ(2deg);
}
.libro:nth-of-type(3) {
  left: 17.75vw;
  transform: translateZ(7.25vw) rotateZ(5deg);
}
.libro:nth-of-type(4) {
  left: 19vw;
  transform-origin: left;
  transform: translateZ(7.25vw) rotateZ(10deg);
}
.libro:nth-of-type(5) {
  left: 20vw;
  transform-origin: left;
  transform: translateZ(7.25vw) rotateZ(10deg);
}
.libro:nth-of-type(6) {
  left: 23vw;
  transform-origin: left;
  transform: translateZ(7.25vw) rotateY(-90deg);
}

/* moble */
.sofa-c {
  position: absolute;
  right: 2vw;
  bottom: 6vw;
  width: 6vw;
  height: 16vw;
  transform: translateZ(0.5vw);
}

.sofa-b {
  position: absolute;
  left: 0;
  top: 1vw;
  width: 6vw;
  height: 14vw;
}
.sofa-b__front {
  width: 6vw;
  height: 3vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(11vw);
    background-color: #121332;
}
.sofa-b__back {
  width: 6vw;
  height: 3vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-6vw) translateY(-3vw);
    background-color: #0b0c1f;
}
.sofa-b__right {
  width: 14vw;
  height: 3vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(6vw) translateX(-14vw) translateY(-3vw);
    background-color: #0b0c1f;
}
.sofa-b__left {
    background-image: linear-gradient(to bottom, #121332, #0b0c1f);
  width: 14vw;
  height: 3vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-3vw);
}
.sofa-b__top {
  width: 6vw;
  height: 14vw;
  transform-origin: top left;
  transform: translateZ(3vw);
}
.sofa-b__bottom {
  width: 6vw;
  height: 14vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-6vw);
  background-color: #0b0c1f;
}

.sofa-b__top {
  background-image: linear-gradient(to right, #1f2158, #121332);
  border-left: 0.1vw solid rgba(158, 153, 193, 0.5);
}
.sofa-l,
.sofa-r {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6vw;
  height: 1vw;
}
.sofa-l__front,
.sofa-r__front {
  width: 6vw;
  height: 4.5vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(-3.5vw);
  background-image: linear-gradient(to bottom, #121332, #0b0c1f);
}
.sofa-l__back,
.sofa-r__back {
  width: 6vw;
  height: 4.5vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-6vw) translateY(-4.5vw);
  background-color: #0b0c1f;
}
.sofa-l__right,
.sofa-r__right {
  width: 1vw;
  height: 4.5vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(6vw) translateX(-1vw) translateY(-4.5vw);
  background-image: linear-gradient(to bottom, #0b0c1f, black);
}
.sofa-l__left,
.sofa-r__left {
  width: 1vw;
  height: 4.5vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-4.5vw);
  background-image: linear-gradient(to bottom, #121332, #0b0c1f);

}
.sofa-l__top,
.sofa-r__top {
  width: 6vw;
  height: 1vw;
  transform-origin: top left;
  transform: translateZ(4.5vw);
  background-image: linear-gradient(to right, #1f2158, #0f102b);
  border-bottom: 0.1vw solid rgba(158, 153, 193, 0.5);
}
.sofa-l__bottom,
.sofa-r__bottom {
  width: 6vw;
  height: 1vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-6vw);
  background-color: #0b0c1f;

}
/* norrr😁 */
.sofa-l__top::before,
.sofa-r__top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(40, 125, 210, 0.75), transparent);
}
.sofa-r {
  top: 0;
}
.sofa-t {
  position: absolute;
  right: 0;
  top: 1vw;
  width: 1vw;
  height: 1vw;
  transform-origin: right;
  transform: rotateY(7deg);
}
.sofa-t__front {
  width: 1vw;
  height: 6.5vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(7.5vw);
    background-image: linear-gradient(to bottom, #0b0c1f, #070814);
}
.sofa-t__back {
  width: 1vw;
  height: 6.5vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-1vw) translateY(-6.5vw);
    background-image: linear-gradient(to bottom, #0b0c1f, #0b0c1f);
}
.sofa-t__right {
  width: 14vw;
  height: 6.5vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(1vw) translateX(-14vw) translateY(-6.5vw);
    background-image: linear-gradient(to bottom, #0b0c1f, black);
}
.sofa-t__left {
  width: 14vw;
  height: 6.5vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-6.5vw);
    background-color: #121332;
}
.sofa-t__top {
  width: 1vw;
  height: 14vw;
  transform-origin: top left;
  transform: translateZ(6.5vw);
  background-image: linear-gradient(to right, #1f2158, #0f102b);
  border-bottom: 0.1vw solid rgba(158, 153, 193, 0.5);
}
.sofa-t__bottom {
  width: 1vw;
  height: 14vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-1vw);
  background-color: #0b0c1f;
}

/* back tv */
.back {
  position: absolute;
  left: 1vw;
  top: 6vw;
  width: 0.5vw;
  height: 16vw;
  transform: translateZ(0.51vw);
}
.back__front {
  width: 0.5vw;
  height: 18vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(-2vw);
    background-color: #0b0c1f;
}
.back__back {
  width: 0.5vw;
  height: 18vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-0.5vw) translateY(-18vw);
    background-color: #0b0c1f;
}
.back__right {
  width: 16vw;
  height: 18vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(0.5vw) translateX(-16vw) translateY(-18vw);
  display: flex;
  justify-content: center;
  background-image: radial-gradient(circle, #1f2158, #0b0c1f);
  overflow: hidden;
}
.back__left {
  width: 16vw;
  height: 18vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-18vw);
  box-shadow: 0.5vw 0.5vw 0.6vw rgba(81, 137, 251, 0.3), 0.5vw -0.5vw 0.6vw rgba(81, 137, 251, 0.3), -0.5vw 0.5vw 0.6vw rgba(81, 137, 251, 0.3), -0.5vw -0.5vw 0.6vw rgba(81, 137, 251, 0.3);
  background-color: #0b0c1f;
}
.back__top {
  width: 0.5vw;
  height: 16vw;
  transform-origin: top left;
  transform: translateZ(18vw);
  background-color: #0b0c1f;
}
.back__bottom {
  width: 0.5vw;
  height: 16vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-0.5vw);
  background-color: #0b0c1f;
}

/* desck */
.table-c {
  position: absolute;
  left: 7vw;
  top: 9.5vw;
  width: 10vw;
  height: 9vw;
  transform: translateZ(0.5vw);
}

.table-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-color: rgba(11, 12, 31, 0.95);
  filter: blur(1vw);
  transform: translateZ(0);
}

.table {
  position: absolute;
  left: 0;
  top: 0;
  width: 10vw;
  height: 9vw;
  transform: translateZ(2vw);
}
.table__front {
  width: 10vw;
  height: 0.5vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(8.5vw);
  background-image: linear-gradient(to right, #0b0c1f, black);
}
.table__back {
  width: 10vw;
  height: 0.5vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-10vw) translateY(-0.5vw);
    background-color: #0b0c1f;
}
.table__right {
  width: 9vw;
  height: 0.5vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(10vw) translateX(-9vw) translateY(-0.5vw);
    background-color: black;
}
.table__left {
  width: 9vw;
  height: 0.5vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-0.5vw);
    background-color: #121332;
}
.table__top {
  width: 10vw;
  height: 9vw;
  transform-origin: top left;
  transform: translateZ(0.5vw);
}
.table__bottom {
  width: 10vw;
  height: 9vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-10vw);
  background-color: #0b0c1f;
}
.table__top {
  background-image: linear-gradient(45deg, #0e0f27, #04050d);
  overflow: hidden;
}
.table-p {
  position: absolute;
  width: 0.25vw;
  height: 0.25vw;
}
.table-p__front {
  width: 0.25vw;
  height: 1.75vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(-1.5vw);
    background-color: #0b0c1f;
}
.table-p__back {
  width: 0.25vw;
  height: 1.75vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-0.25vw) translateY(-1.75vw);
    background-color: #0b0c1f;
}
.table-p__right {
  width: 0.25vw;
  height: 1.75vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(0.25vw) translateX(-0.25vw) translateY(-1.75vw);
    background-color: black;
}
.table-p__left {
  width: 0.25vw;
  height: 1.75vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-1.75vw);
    background-color: #121332;
}
.table-p__top {
  width: 0.25vw;
  height: 0.25vw;
  transform-origin: top left;
  transform: translateZ(1.75vw);
    background-color: #1f2158;
}
.table-p__bottom {
  width: 0.25vw;
  height: 0.25vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-0.25vw);
    background-color: #0b0c1f;
}

.table-p:nth-of-type(1) {
  left: 0.5vw;
  top: 0.5vw;
}
.table-p:nth-of-type(2) {
  right: 0.5vw;
  top: 0.5vw;
}
.table-p:nth-of-type(3) {
  left: 0.5vw;
  bottom: 0.5vw;
}
.table-p:nth-of-type(4) {
  right: 0.5vw;
  bottom: 0.5vw;
}
/* tablet */
.tablet {
  position: absolute;
  left: 13vw;
  top: 12vw;
  width: 2vw;
  height: 2.5vw;
  transform: translateZ(3.01vw) rotateZ(15deg);
}
.tablet__front {
  width: 2vw;
  height: 0.125vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(2.375vw);
    background-color: #8079ae;
}
.tablet__back {
  width: 2vw;
  height: 0.125vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-2vw) translateY(-0.125vw);
    background-color: #383358;
}
.tablet__right {
  width: 2.5vw;
  height: 0.125vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(2vw) translateX(-2.5vw) translateY(-0.125vw);
    background-color: #383358;
}
.tablet__left {
  width: 2.5vw;
  height: 0.125vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-0.125vw);
    background-color: #9E99C1;
}
.tablet__top {
  width: 2vw;
  height: 2.5vw;
  transform-origin: top left;
  transform: translateZ(0.125vw);
  background-color: #83abfc;
  border: 0.2vw solid rgba(81, 137, 251, 0.25);
  animation: pantalla-tablet 0.25s infinite;
}
.tablet__bottom {
  width: 2vw;
  height: 2.5vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-2vw);
  box-shadow: 0.25vw 0.25vw 0.5vw rgba(24, 74, 124, 0.75), -0.25vw 0.25vw 0.5vw rgba(24, 74, 124, 0.75), -0.25vw -0.25vw 0.5vw rgba(24, 74, 124, 0.75), 0.25vw -0.25vw 0.5vw rgba(24, 74, 124, 0.75);
  background-color: black;

}

/* 2 below */
.fotos {
  position: absolute;
}

.foto {
  position: absolute;
  width: 0.125vw;
  height: 2vw;
  left: 2vw;
  top: 11vw;
  transform: translateZ(5.26vw);
}
.foto__front {
  width: 0.125vw;
  height: 1.125vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(1.125vw);
  background-image: linear-gradient(to bottom, #9E99C1, #8079ae);
}
.foto__back {
  width: 0.125vw;
  height: 1.125vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-0.125vw) translateY(-1.125vw);
  background-color: #FBFAFE;
}
.foto__right {
  width: 2.25vw;
  height: 1.125vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(0.125vw) translateX(-2.25vw) translateY(-1.125vw);
}
.foto__left {
  width: 2.25vw;
  height: 1.125vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-1.125vw);
  background-color: #9E99C1;
}
.foto__top {
  width: 0.125vw;
  height: 2.25vw;
  transform-origin: top left;
  transform: translateZ(1.125vw);
  background-color: #d9d0f6;
}
.foto__bottom {
  width: 0.125vw;
  height: 2.25vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-0.125vw);
  background-color: #595388;
}

.foto__right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8f89b7;
  border: 0.15vw solid #1f2158;
}

.foto:nth-of-type(1) {
  top: 10.5vw;
  transform: translateZ(5.26vw) rotateZ(5deg);
}
.foto:nth-of-type(2) {
  top: 15vw;
  transform: translateZ(5.26vw) rotateZ(-15deg);
}
/* 3 top */
.cajas {
  position: absolute;
}
.caja {
  position: absolute;
  width: 1vw;
  height: 1.5vw;
  left: 2vw;
  transform: translateZ(16.35vw);
}
.caja__front {
  width: 1vw;
  height: 0.75vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(0.75vw);
  background-image: linear-gradient(to bottom, #9E99C1, #8079ae);
}
.caja__back {
  width: 1vw;
  height: 0.75vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-1vw) translateY(-0.75vw);
    background-color: #9E99C1;
}
.caja__right {
  width: 1.5vw;
  height: 0.75vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(1vw) translateX(-1.5vw) translateY(-0.75vw);
    background-color: #645c98;
}
.caja__left {
  width: 1.5vw;
  height: 0.75vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-0.75vw);
    background-color: #9E99C1;
}
.caja__top {
  width: 1vw;
  height: 1.5vw;
  transform-origin: top left;
  transform: translateZ(0.75vw);
    background-color: #d9d0f6;
}
.caja__bottom {
  width: 1vw;
  height: 1.5vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-1vw);
    background-color: #595388;
}
.caja:nth-of-type(1) {
  top: 10.6vw;
}
.caja:nth-of-type(2) {
  top: 13.5vw;
}
.caja:nth-of-type(3) {
  top: 16vw;
}

/* left right tabaghe */
.book-l,
.book-r {
  position: absolute;
  left: 1.5vw;
  bottom: 5.25vw;
  width: 0.75vw;
  height: 1.5vw;
  transform: translateZ(8vw);
}
.book-l__front,
.book-r__front {
  width: 0.75vw;
  height: 6vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(-4.5vw);
}
.book-l__back,
.book-r__back {
  width: 0.75vw;
  height: 6vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-0.75vw) translateY(-6vw);
}
.book-l__right,
.book-r__right {
  width: 1.5vw;
  height: 6vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(0.75vw) translateX(-1.5vw) translateY(-6vw);
}
.book-l__left,
.book-r__left {
  width: 1.5vw;
  height: 6vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-6vw);
}
.book-l__top,
.book-r__top {
  width: 0.75vw;
  height: 1.5vw;
  transform-origin: top left;
  transform: translateZ(6vw);
}
.book-l__bottom,
.book-r__bottom {
  width: 0.75vw;
  height: 1.5vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-0.75vw);
}
.book-l__right,
.book-r__right {
  background-image: radial-gradient(black, black);
}
.book-l__top,
.book-r__top {
  background-image: linear-gradient(to left, #d9d0f6, #9E99C1, #7169a4);
}
.book-l__bottom,
.book-r__bottom {
  background-color: #383358;
}
.book-l__front {
  background-image: linear-gradient(to right, #5189fb, #595388 30%, #b7a5ed);
}
.book-l__back {
  background-image: linear-gradient(to right, #383358, #232038);
}
.book-l__left {
  background-color: #282347;
}
.book-r {
  top: 5.25vw;
}
.book-r__front {
  background-image: linear-gradient(to right, #383358, #0f0e17);
}
.book-r__back {
  background-image: linear-gradient(to right, #595388, #b7a5ed);
}
.book-r__left {
  background-color: #282347;
}
/* tabaghe */
.floor-t,
.floor-b {
  position: absolute;
  left: 1.5vw;
  top: 9vw;
  width: 1.5vw;
  height: 10vw;
  transform: translateZ(16vw);
}
.floor-t__front,
.floor-b__front {
  width: 1.5vw;
  height: 0.25vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(9.75vw);
  background-color: #9E99C1;
}
.floor-t__back,
.floor-b__back {
  width: 1.5vw;
  height: 0.25vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-1.5vw) translateY(-0.25vw);
  background-color: #FBFAFE;
}
.floor-t__right,
.floor-b__right {
  width: 10vw;
  height: 0.25vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(1.5vw) translateX(-10vw) translateY(-0.25vw);
  background-color: #8079ae;
}
.floor-t__left,
.floor-b__left {
  width: 10vw;
  height: 0.25vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-0.25vw);
  background-color: #FBFAFE;
}
.floor-t__top,
.floor-b__top {
  width: 1.5vw;
  height: 10vw;
  transform-origin: top left;
  transform: translateZ(0.25vw);
  background-color: #d9d0f6;
}
.floor-t__bottom,
.floor-b__bottom {
  width: 1.5vw;
  height: 10vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-1.5vw);
  background-color: #383358;
}
.floor-b {
  transform: translateZ(5vw);
}
.tv {
  position: absolute;
  left: 1.51vw;
  top: 8vw;
  width: 0.5vw;
  height: 12vw;
  transform: translateZ(8vw);
}
.tv__front {
  width: 0.5vw;
  height: 6vw;
  transform-origin: bottom left;
  transform: rotateX(-90deg) translateZ(6vw);
  background-color: #0b0c1f;
}
.tv__back {
  width: 0.5vw;
  height: 6vw;
  transform-origin: top left;
  transform: rotateX(-90deg) rotateY(180deg) translateX(-0.5vw) translateY(-6vw);
  background-color: #0b0c1f;
}
.tv__right {
  width: 12vw;
  height: 6vw;
  transform-origin: top left;
  transform: rotateY(90deg) rotateZ(-90deg) translateZ(0.5vw) translateX(-12vw) translateY(-6vw);
}
.tv__left {
  width: 12vw;
  height: 6vw;
  transform-origin: top left;
  transform: rotateY(-90deg) rotateZ(90deg) translateY(-6vw);
}
.tv__top {
  width: 0.5vw;
  height: 12vw;
  transform-origin: top left;
  transform: translateZ(6vw);
  background-color: #0b0c1f;
}
.tv__bottom {
  width: 0.5vw;
  height: 12vw;
  transform-origin: top left;
  transform: rotateY(180deg) translateX(-0.5vw);
  background-color: #0b0c1f;
}

.tv__right {
  background-color: #9cbcfc;
  border: 0.125vw solid black;
  animation: pantalla-tv 0.25s infinite alternate;
}
.tv__right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0.125vw 0.125vw 1vw rgba(81, 137, 251, 0.5), -0.125vw 0.125vw 1vw rgba(81, 137, 251, 0.5), 0.125vw -0.125vw 1vw rgba(81, 137, 251, 0.5), -0.125vw -0.125vw 1vw rgba(81, 137, 251, 0.5);
  background-image: url("https://rawcdn.githack.com/ricardoolivaalonso/Codepen/43200238c3177b02a97423fa6cc23f8bfcc5c105/Room/gif.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.8;
}
.tv__left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b0c1f;
}

/* animate */
@keyframes pantalla-tablet {
  from {
    background-color: #6a9afb;
  }
}
@keyframes pantalla-tv {
  from {
    background-color: #6a9afb;
    box-shadow: 
      0.125vw 0.125vw 0vw rgba(81, 137, 251, 0),
      -0.125vw 0.125vw 0vw rgba(81, 137, 251, 0),
      0.125vw -0.125vw 0vw rgba(81, 137, 251, 0),
      -0.125vw -0.125vw 0vw rgba(81, 137, 251, 0);
  }
}
@keyframes textanim {
  from {
    color: #6a9afb;
    text-shadow: 
      0.125vw 0.125vw 0vw rgba(81, 137, 251, 0),
      -0.125vw 0.125vw 0vw rgba(81, 137, 251, 0),
      0.125vw -0.125vw 0vw rgba(81, 137, 251, 0),
      -0.125vw -0.125vw 0vw rgba(81, 137, 251, 0);
  }
}
